/*CSS DOCUMENT*/

@import url("https://use.typekit.net/imy7qvu.css");

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;} /*My edited version of the Eric Meyer’s reset tool. Feel free to keep it or delete it. */

img {
    width: 100%; /*Please leave this line.*/
	padding-top: 1em;
	padding-bottom: 0.5em;
}

body {
	background: #E3C6F4;
	font: 12px;
	font-family: "mr-eaves-modern", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #3D0043;
	list-style: none;
}

.ingredients {
	padding-left: 1em;
}

h3 {
	font: 16px;
	font-weight: 700;
	padding-top: 1em;
}

li {
	list-style: none;
}

.directions {
	padding-left: 1em;
}

header {
	padding-left: 1em;
	padding-top: 1em;
}

figcaption {
	padding-left: 1em;
}

footer {
	padding-left: 1em;
	padding-top: 1em;
}

/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
